@import "../../sass/abtracts/variables.scss";

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* Espacio entre las tarjetas, puedes ajustarlo según tus necesidades */

  @media (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

app-flip-card {
  width: 100%; /* Asegúrate de que las tarjetas ocupen todo el espacio disponible en la celda de la rejilla */
}
