
<div class="center">
    <table class="footer">
        <tr>
            <td>
                <div class="col" style="margin-left: 10px;">
                    <a target="_blank" href="https://certificadostradicionylibertad.co/politicas-privacidad">Políticas de privacidad</a>
                </div>
            </td>
            <td>
                <div class="col" style="text-align: right; margin-right: 10px;">
                    <a href="mailto:example@example.com">soportedecertificados@gmail.com</a>
                </div>
            </td>
        </tr>
    </table>
</div>


