@import "../../sass/abtracts/variables.scss";

.footer {
    width: 98%;
    background-color: $mainColorBlue;
    color: white;
    font-weight: bold;
    height: 100px;
  & a{
    text-decoration: none;
    color: white;
  }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}