.post-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .post-image {
    text-align: center;
  }
  
  .post-image img {
    max-width: 80%;
    height: auto;
  }
  
  .post-image-description,
  .post-introduction {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  .post-description {
    margin-top: 20px;
  }
  