@import "../../sass/abtracts/variables.scss";

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; /* Espacio entre las tarjetas, puedes ajustarlo según tus necesidades */
  }
  
  app-flip-card {
    width: 100%; /* Asegúrate de que las tarjetas ocupen todo el espacio disponible en la celda de la rejilla */
  }
  .centrar{
    align-items: center;
    justify-content: center;
    display: flex;
  }