@import "../../../sass/abtracts/variables.scss";

.card {
  width: 500px;
  height: 300px;
  background-color: rgb(226, 225, 225);
  padding: 25px;
  border-radius: 25px;
  
  & .head {
    & .title {
      text-align: center;
      color: $primary-blue;
    } 
  }
  
  & .content {
    text-align: justify;
    
    & .title {
      color: $mainColorBlue;
    } 
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  @media (max-width: 480px) {
    width: 100%;
    height: auto;
    padding: 15px;
  }
}
::ng-deep .custom-mat-form-field .mat-form-field-wrapper {
    background-color: #f0f0f0; /* Cambia este valor al color que desees */
  }