@import "../../sass/abtracts/variables.scss";
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-info{
    width: 80%;
    text-align: center;
    & h2{
        color: $primary-blue;
        text-align: center;
    }
    & button{
        background-color: white;
        border-radius: 10px;
        border: solid 1px $primary-blue;
        color: $primary-blue;
        width: 100px;
    }
    & p{
        text-align: justify;
    }
}