<app-head></app-head>
<div class="centrar">
    <div class="container-info">
        <h2>Oficinas de Registro de Instrumentos Públicos</h2>
        <button mat-button>Función</button>
        <p>Las Oficinas de Registro de Instrumentos públicos en Colombia están encargadas de gestionar y mantener los registros de actos que afectan directamente los bienes inmuebles, abarcando este término casas, apartamentos, lotes, u otro tipo de propiedades.</p>
        <button mat-button>Trámites</button>
        <p>Toda la información de dichos trámites que se realizan en las Oficinas de Registro se encuentran registradas en el Certificado de Libertad y Tradición
        </p>
    </div>
</div>
<app-tramites></app-tramites>