$white: #ffffff;
$black: #38393aff;

$green:#00B140;
$primary-blue: #04145c;
$violet: rgb(120,5,87);
$pink:#b90e6a;
$dark_noticias: #0E1525;
//gradients for form pages

$bg-forms-gradient: linear-gradient(to bottom, #c7b6cb, #cdc1d3 40%, #cbcbda 55%, #cadfe7 68%);
$texto: 'AvantGardeBookBT';
$texto2: 'AvantGarde_Bold';
$texto3: 'AvantGardeDemiBT';
$texto4: 'ITCAvantGardeStd-Md';
$texto5: 'MyriadPro-Regular';

//colores de proyectos
$proyectoColor: #F3B72E;
$mainColorBlue: #00a6b5;
$colorTable: #00a6b513;
$grayColor:gray;
$scrollColor:#c0c0c0;
$scrollBackGroundColor:#f0f0f0;
$whiteColor:white;
$botonRojo:#ed1c24;
$colorSelect:#333;
$black:black;
$rosaSuave:#e5927e;
$mentaColor:#22b573;

$ideas: #32A69A;
$astros: #9C4182;
$areas: #DA6347;
