.profile-picture img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-form-field{
    background-color: transparent!important;
    color: black!important;
}
.angular-editor-textarea{
    height: 300px!important;
}
label{
    font-weight: bold;
    
}