<div class="modal-header">
  <h4 class="modal-title">{{ isEdit ? 'Editar Publicación' : 'Agregar Publicación' }}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12 center">
      <div class="profile-picture">
        <label for="fileInput">
          <img [src]="imgPreview" alt="" style="cursor: pointer;">
        </label>
        <input (change)="setImg($event)" id="fileInput" type="file" style="display: none;" accept="image/*">
      </div>
    </div>
  </div>
  <div class="center">
    <div class="edit" (click)="simulate()">
      Actualiza la foto de la publicación <mat-icon>edit</mat-icon>
    </div>
  </div>
  <form [formGroup]="postForm" (ngSubmit)="savePost()">
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" id="title" class="form-control" formControlName="title">
      <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched" class="text-danger">
        Título es requerido
      </div>
    </div>
    <div class="form-group" *ngIf="!isEdit">
      <label for="urlTitle">Título en la url</label>
      <input  type="text" id="urlTitle" class="form-control" formControlName="urlTitle" >
      <div *ngIf="postForm.get('urlTitle')?.invalid && postForm.get('urlTitle')?.touched" class="text-danger">
        el título de la url es requerido
      </div>
    </div>
    <div class="form-group">
      <label for="introduction">Introducción</label>
      <input type="text" id="introduction" class="form-control" formControlName="introduction">
      <div *ngIf="postForm.get('introduction')?.invalid && postForm.get('introduction')?.touched" class="text-danger">
        la Introducción es requerida
      </div>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <angular-editor style="height: 500px;" formControlName="description" [config]="editorConfig"></angular-editor>
      <div *ngIf="postForm.get('description')?.invalid && postForm.get('description')?.touched" class="text-danger">
        La descripción es requerida
      </div>
    </div>
    <div class="form-group">
      <label for="imageDescription">Descripción de la imagen</label>
      <input type="text" id="imageDescription" class="form-control" formControlName="imageDescription">
      <div *ngIf="postForm.get('imageDescription')?.invalid && postForm.get('imageDescription')?.touched" class="text-danger">
        la Descripción de la imagen es requerida
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">{{ isEdit ? 'Guardar Cambios' : 'Agregar Publicación' }}</button>
  </form>
</div>
