.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    
}
.contenedor-imagen {
    position: relative;
  }
  
  .superposicion-vinotinto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #800020; /* Código de color para vinotinto */
    mix-blend-mode: multiply; /* Aplica la mezcla de colores */
    opacity: 0.5; /* Ajusta la opacidad según necesites */
  }
  .container {
    height: 400px; /* Establece una altura fija para el contenedor del carrusel */
}

.img-carousel {
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra completamente el div */
    background-position: center;/* Ajusta la imagen manteniendo la relación de aspecto */
}
