<div class="centrar">
    <div class="container">
        <carousel>
            <slide *ngFor="let tramite of tramites">
                <div class="superposicion-vinotinto"></div>
                <div class="img-carousel" [style.background-image]="'url(' + tramite.BannerImageUrl.Url + ')'"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>{{tramite.Title}}</h3>
                    <p>{{tramite.Description}}</p>
                </div>
            </slide>
        </carousel>
    </div>
</div>
